{% extends "bootstrap.html.twig" %}

{% block body %}

<h1 class="display-5 text-center mt-3 mb-3">Gestionnaire d'utilisateurs</h1>

  <table class="table text-center border ">
  <thead class="text-capitalize ">
    <td class="fw-bold border bg-light text-uppercase">email</td>
    <td class="fw-bold border bg-light text-uppercase">password</td>
    <td class="fw-bold border bg-light text-uppercase">pseudo</td>
    <td class="fw-bold border bg-light text-uppercase">action</td>
  </thead>
  <tbody>
    <tr>
      {# <td class="bg-secondary"></td> #}
      <th class="fw-bold bg-light text-capitalize">Marc</th>
      <td>Vogue</td>
      <td>Très bon état, - 10 000km, rouge</td>
      <td>
      <input type="submit" value="modifier" class="btn btn-outline-warning my-2" style="width:100px"><br>
      <input type="submit" value="supprimer" class="btn btn-outline-danger " style="width:100px">
      </td>
      
    </tr> 
    <tr>
      {# <td class="bg-secondary"></td> #}
      <th class="fw-bold bg-light text-capitalize">bmw</th>
      <td>X6</td>
      <td>Excellent état, - 15 000km, bleue</td>
      <td>
      <input type="submit" value="modifier" class="btn btn-outline-warning my-2" style="width:100px"><br>
      <input type="submit" value="supprimer" class="btn btn-outline-danger " style="width:100px">
      </td>
    </tr> 
    <tr>
      {# <td class="bg-secondary"></td> #}
      <th class="fw-bold bg-light text-capitalize">chevrolet</th>
      <td>Pick up 500</td>
      <td>Bon état, - 30 000km, idéal pour la montagne, blanche</td>
      <td>
      <input type="submit" value="modifier" class="btn btn-outline-warning my-2" style="width:100px"><br>
      <input type="submit" value="supprimer" class="btn btn-outline-danger " style="width:100px">
      </td>
    </tr> 
  </tbody>
  <tfoot>
    <tr>
      <td class="fw-bold ">Ajouter un utilisateur</td>
      <td><input type="submit" value="ajouter" class="btn btn-outline-success mb-1"
          style="width:100px"></td>
    </tr>
  </tfoot>

</table>

{% endblock %}