{% extends "bootstrap.html.twig" %}

{% block body %}

  

  <h1 class="display-5 text-center mt-3 mb-3">{{h1}}</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="images/automobile-5035882_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Volvo Xc40</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum placeat temporibus, laboriosam odit excepturi reiciendis quidem eum nostrum vitae saepe facere nobis quis recusandae ipsam commodi fuga accusamus aperiam numquam sed laborum unde minus voluptates deserunt vel. Deserunt nulla eligendi accusantium sit delectus ad expedita quas ullam, optio voluptates. Expedita.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Prix : 40 000€</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/porsche-3282479_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Porsche Cayenne Turbo GT</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt modi iusto nobis ad repellat minima quas? Non sit consequuntur mollitia at ratione, fugiat ullam, natus suscipit saepe maiores accusantium facilis, repellat accusamus quidem fugit quisquam nihil? Natus at ipsam nihil id. Laborum dicta ipsum rem laudantium non beatae doloremque ullam.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Prix : 48 500€</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/range-rover-2015653_1280.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-uppercase">Range Rover Evoque</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi officia illum tempore exercitationem unde, maiores officiis commodi. Repellat facilis ex vero perferendis dolorum placeat hic. Asperiores consequatur ab at modi est, voluptates provident similique distinctio suscipit iste alias quos reiciendis quaerat delectus tenetur ipsum eligendi dolore dolorum nihil dicta sed.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Prix : 52 000€</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="images/tim-depickere-5mp2mlab7ZM-unsplash.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-uppercase">ford explorer</h5>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum, ea. Officiis neque deserunt, praesentium expedita minus voluptatum, enim iste, iusto nihil maxime officia. Dolor labore consectetur ullam aperiam aliquid ipsam. Illo delectus cumque fuga laudantium vero beatae! Repellat, placeat! Quis aliquam dicta laborum eius ipsam corrupti quas voluptates reprehenderit quae!</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Prix : 54 000€</small>
      </div>
    </div>
  </div>
</div>



{% endblock %}