<header class="bg-dark">
  <nav class="navbar navbar-dark navbar-expand container d-flex justify-content-between">
  <span class="navbar-brand">S.U.V Concession</span>
  <ul class="navbar-nav">
    <li class="nav-item">
  <a href="{{ path('accueil')}}" class="nav-link">Accueil</a>
  </li>
  <li class="nav-item">
  <a href="{{ path('connexion')}}" class="nav-link">Connexion</a>
  </li>
  <li class="nav-item">
  <a href="{{ path('mentions_legales')}}" class="nav-link">Mentions légales</a>
  </li>
  </ul>
 
  </nav>
</header>