{% extends "bootstrap.html.twig" %}

{% block body %}
    <h1>Ajouter un gestionnaire</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {# <input type="submit"> #}
    {{ form_end(form) }}
{% endblock %}